@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Bitter", sans-serif;
  @apply text-nero;
}

h1 {
  font-family: "Bitter", sans-serif;
  @apply text-[36px] md:text-[80px] leading-[50px] md:leading-[110px] font-semibold;
}

h2 {
  font-family: "Inter", sans-serif;
  @apply text-[28px] md:text-[42px] leading-[38px] md:leading-[50px] font-medium;
}

h3 {
  font-family: "Bitter", sans-serif;
  @apply text-[26px] leading-[31px] font-normal;
}

h4 {
  font-family: "Inter", sans-serif;
  @apply text-[24px] leading-[29px] font-bold;
}

h5 {
  font-family: "Open Sans", sans-serif;
  @apply text-[18px] leading-[24px] font-semibold;
}

p {
  font-family: "Open Sans", sans-serif;
  @apply text-[18px] leading-[24px] font-light;
}

.font-bitter {
  font-family: "Bitter", sans-serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
