.statistic-slider .slick-list {
  width: 100% !important;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.statistic-slider .slick-track {
  display: flex !important;
}

statistic-slider .slick-slide {
  width: 100% !important;
  background-color: #ffffff !important;
}  

@screen sm {
  .statistic-slider .slick-slide {
    margin-left: 32px !important;
    margin-right: 32px !important;
  }  
}
.slick-slide > div {
  height: 100%;
}

.statistic-slider .slick-arrow {
  display: none !important;
}

.dots-list {
  display: grid;
  grid-auto-flow: column;
  column-gap: 25px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;
}

.dot-item {
  background-color: #fff2f2;
  cursor: pointer;
  border-radius: 100%;
  font-size: 0;
  width: 20px;
  height: 20px;
}

.dots-list .slick-active .dot-item {
  background-color: #9e8470 !important;
}
